<template>
    <div class="lessons__create">
        <div class="modal fade" id="createLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new lesson</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Lesson title" v-model="lesson.title">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vimeo video id" v-model="lesson.video_id">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Episode number" v-model="lesson.episode_number">
                        </div>

                        <div class="form-group">
                            <textarea cols="30" rows="10" class="form-control" v-model="lesson.description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" v-model="lesson.premium"> Premium
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateLesson()" v-if="editing">Save lesson</button>
                        <button type="button" class="btn btn-primary" @click="createLesson()" v-else>Create lesson</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios';

    class Lesson {
        constructor(lesson) {
            this.id = lesson.id || null;
            this.title = lesson.title || '';
            this.video_id = lesson.video_id || '';
            this.episode_number = lesson.episode_number || '';
            this.description = lesson.description || '';
            this.premium = lesson.premium || false;
        }
    }

    export default {
        mounted() {
            this.$parent.$on('create_new_lesson', (seriesId) => {
                this.editing = false;
                this.seriesId = seriesId;
                this.lesson = new Lesson({});
                $('#createLesson').modal();
            });

            this.$parent.$on('edit_lesson', ({ lesson, seriesId }) => {
                this.editing = true;
                this.seriesId = seriesId;
                this.lesson = new Lesson(lesson);
                $('#createLesson').modal();
            });
        },
        data() {
            return {
                seriesId: null,
                editing: false,
                lesson: {},
            };
        },
        methods: {
            createLesson() {
                Axios.post(`/admin/${this.seriesId}/lessons`, this.lesson)
                    .then(resp => {
                        this.$parent.$emit('lesson_created', resp.data);
                        $('#createLesson').modal('hide');
                        window.noty({
                            message: 'Lesson created successfully',
                            type: 'success',
                        });
                    })
                    .catch(error => {
                        window.handleError(error);
                    });
            },
            updateLesson() {
                Axios.put(`/admin/${this.seriesId}/lessons/${this.lesson.id}`, this.lesson)
                    .then(resp => {
                        this.$parent.$emit('lesson_updated', resp.data);
                        $('#createLesson').modal('hide');
                        window.noty({
                            message: 'Lesson updated successfully',
                            type: 'success',
                        });
                    })
                    .catch(error => {
                        window.handleError(error);
                    });
            },
        },
    }
</script>
