.thesaas-sections-split {
    .section,
    .main-content .topbar,
    .main-content .site-footer {
        margin: 30px 50px 100px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border: 1px solid #ebebeb;
    }

    .main-content{
        .topbar {
            position: static;

            .topbar-toggler {
                display: none;
            }
        }
    }

    .section-info {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        padding-top: 60px;
    }

    &.topbar-reveal .main-content .topbar-nav {
        display: none;
    }

    @media (max-width: 768px) {
        .section,
        .main-content .site-footer {
            margin: 30px 0 100px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

    }
}
