.lessons {
    &__button {
        margin-bottom: 20px;
    }

    &__list {
        .list-group-item {
            color: #333;
            font-weight: 600;
        }
    }

    &__create {
        .modal {
            color: #333;

            &-title {
                color: #333;
            }
        }
    }
}
