.watch {
    &__list {
        .list-group {
            .list-group-item {
                .completed {
                    display: inline-block;
                    margin-right: 20px;
                }

                &.active {
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}
