@import url(https://fonts.googleapis.com/css?family=Nunito);.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.login .card-body {
  margin: 75px;
}

.watch__list .list-group .list-group-item .completed {
  display: inline-block;
  margin-right: 20px;
}

.watch__list .list-group .list-group-item.active a {
  color: #fff;
}

.topbar-brand {
  color: #535353;
}

.topbar-inverse .topbar-brand {
  color: #fff;
}

.body-scrolled .topbar-sticky.topbar-inverse .topbar-brand {
  color: #535353;
}

.header-inverse {
  background-color: #9ac29d;
}

.lessons__button {
  margin-bottom: 20px;
}

.lessons__list .list-group-item {
  color: #333;
  font-weight: 600;
}

.lessons__create .modal {
  color: #333;
}

.lessons__create .modal-title {
  color: #333;
}

