<template>
    <div class="lessons container">
        <div class="lessons__button text-center">
            <button class="btn btn-primary" @click="createNewLesson">
                Create New Lesson
            </button>
        </div>
        <div class="lessons__list">
            <ul class="list-group d-flex">
                <li class="list-group-item d-flex justify-content-between" v-for="(lesson, key) in lessons">
                    <p><a :href="route('series.watch.lesson', series.slug, lesson.id)">{{ lesson.title }}</a></p>
                    <p>
                        <button class="btn btn-primary btn-xs" @click="editLesson(lesson)">
                            Edit
                        </button>
                        <button class="btn btn-danger btn-xs" @click="deleteLesson(lesson.id, key)">
                            Delete
                        </button>
                    </p>
                </li>
            </ul>
        </div>
        <lesson-modal></lesson-modal>
    </div>
</template>

<script>
    import Axios from 'axios';

    export default {
        props: ['dataSeries', 'dataLessons'],
        mounted() {
            this.$on('lesson_created', (lesson) => {
                this.lessons.push(lesson);
            });

            this.$on('lesson_updated', (lesson) => {
                let lessonIndex = this.lessons.findIndex(l => {
                    return l.id === lesson.id;
                });

                this.lessons.splice(lessonIndex, 1, lesson);
            });
        },
        components: {
            "lesson-modal": require('./children/LessonModal'),
        },
        data() {
            return {
                series: JSON.parse(this.dataSeries),
                lessons: JSON.parse(this.dataLessons),
            };
        },
        methods: {
            createNewLesson() {
                this.$emit('create_new_lesson', this.series.id);
            },
            editLesson(lesson) {
                let seriesId = this.series.id;
                this.$emit('edit_lesson', {lesson, seriesId});
            },
            deleteLesson(id, key) {
                if (confirm('Are you sure you wanna delete?')) {
                    Axios.delete(`/admin/${this.series.id}/lessons/${id}`)
                        .then(resp => {
                            this.lessons.splice(key, 1);
                            window.noty({
                                message: 'Lesson deleted successfully',
                                type: 'success',
                            });
                        })
                        .catch(error => {
                            window.handleError(error);
                        });
                }
            },
        },
    }
</script>
