<template>
    <div class="alert noty" v-if="notification" :class="type">
        <p class="text-center">{{ notification.message }}</p>
    </div>
</template>

<script>
    export default {
        props: ['dataNotification', 'dataType'],
        created() {
            if (this.dataNotification) {
                this.notification = {
                    message: this.dataNotification,
                    type: this.dataType || 'info',
                };
                this.delayedReset();
            }

            window.events.$on('notification', (payload) => {
                this.notification = payload;
                this.delayedReset();
            });
        },
        data() {
            return {
                notification: null,
            };
        },
        computed: {
            type() {
                return `alert-${this.notification.type}`;
            },
        },
        methods: {
            delayedReset(delay = 5000) {
                console.log(delay);
                setTimeout(() => {
                    this.notification = null;
                }, delay);
            },
        },
    }
</script>

<style>
    .noty {
        position: fixed;
        right: 20px;
        bottom: 40px;
        z-index: 1;
    }
</style>
