<template>
    <div>
        <div v-if="lesson" :data-vimeo-id="lesson.video_id" id="handstick"></div>
    </div>
</template>

<script>
    import Axios from 'axios';
    import Player from '@vimeo/player';
    import Swal from 'sweetalert';

    export default {
        props: ['dataLesson', 'nextLessonUrl'],
        data() {
            return {
                lesson: JSON.parse(this.dataLesson),
            };
        },
        methods: {
            displayVideoEndedAlert() {
                if (!this.nextLessonUrl) {
                    Swal('Yaay! You completed the series.');
                    return;
                }

                Swal('Yaay! You completed this lesson.')
                    .then(() => {
                        window.location = this.nextLessonUrl;
                    });
            },
            completeLesson() {
                if (window.Laravel.authUser) {
                    Axios.post(`/series/complete-lesson/${this.lesson.id}`, {})
                        .then(resp => {
                            this.displayVideoEndedAlert()
                        })
                        .catch(error => {
                            console.log(error.response);
                        });
                }
            },
        },
        mounted() {
            const player = new Player('handstick');

            player.on('ended', () => {
                this.completeLesson();
            });
        },
    }
</script>
