<template>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr v-if="series" v-for="(s, key) in series">
                <td><a :href="route('series.show', s.slug)">{{ s.title }}</a></td>
                <td>
                    <a :href="route('series.edit', s.slug)" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger" @click="deleteSeries(s, key)">Delete</button>
                </td>
            </tr>
            <tr class="text-center" v-else>
                <td>No series yet</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import Axios from 'axios';

    export default {
        props: ['init_series'],
        data() {
            return {
                series: JSON.parse(this.init_series),
            };
        },
        methods: {
            deleteSeries(series, key) {
                if (confirm('Are you sure you wanna delete?')) {
                    Axios.delete(`/admin/series/${series.slug}`)
                        .then(resp => {
                            this.series.splice(key, 1);
                            window.noty({
                                message: 'Series deleted successfully',
                                type: 'success',
                            });
                        })
                        .catch(error => {
                            window.handleError(error);
                        });
                }
            },
        },
    }
</script>
