<template>
    <div>
        <button class="btn btn-success" @click="subscribe('monthly')">Subscribe to $9.99 Monthly</button>
        <button class="btn btn-info" @click="subscribe('yearly')">Subscribe to $99.99 Yearly</button>
    </div>
</template>

<script>
    import Swal from 'sweetalert';
    import Axios from 'axios';

    export default {
        props: ['dataUser'],
        mounted() {
            let vm = this;

            this.handler = StripeCheckout.configure({
                key: window.Laravel.env.STRIPE_KEY,
                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                locale: 'auto',
                token(token) {
                    // You can access the token ID with `token.id`.
                    // Get the token ID to your server-side code for use.
                    Swal({text: 'Please wait while we subscribe you to a plan ...', buttons: false});
                    Axios.post('/subscribe', {
                        stripeToken: token.id,
                        plan: vm.plan,
                    }).then(resp => {
                        Swal({text: 'Successfully subscribed', icon: 'success'})
                            .then(() => {
                                window.location = route('profile', vm.user.id);
                            });
                    }).catch(error => {
                        console.log(error);
                    });
                }
            });
        },
        data() {
            return {
                user: JSON.parse(this.dataUser),
                plan: '',
                amount: 0,
                handler: null,
            };
        },
        methods: {
            subscribe(plan) {
                this.plan = (plan === 'monthly') ? 'monthly' : 'yearly';
                this.amount = (plan === 'monthly') ? 999 : 9999;

                this.handler.open({
                    name: 'Laracasts',
                    description: 'Laracasts Subscription',
                    amount: this.amount,
                    email: this.user.email,
                });
            },
        },
    }
</script>
