<template>
    <div>
        <button class="btn btn-primary" @click="update">Update card details</button>
    </div>
</template>

<script>
    import Swal from 'sweetalert';
    import Axios from 'axios';

    export default {
        props: ['dataUser'],
        mounted() {
            let vm = this;

            this.handler = StripeCheckout.configure({
                key: window.Laravel.env.STRIPE_KEY,
                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                locale: 'auto',
                allowRememberMe: false,
                token(token) {
                    // You can access the token ID with `token.id`.
                    // Get the token ID to your server-side code for use.
                    Swal({text: 'Please wait while we update your card details ...', buttons: false});
                    Axios.post(route('profile.card.update'), {
                        stripeToken: token.id,
                    }).then(resp => {
                        Swal({text: 'Successfully updated card details', icon: 'success'})
                            .then(() => {
                                window.location = '';
                            });
                    }).catch(error => {
                        console.log(error);
                    });
                }
            });
        },
        data() {
            return {
                user: JSON.parse(this.dataUser),
                handler: null,
            };
        },
        methods: {
            update() {
                this.handler.open({
                    name: 'Laracasts',
                    description: 'Laracasts Subscription',
                    email: this.user.email,
                    panelLabel: 'Update card details',
                });
            },
        },
    }
</script>
