.topbar {
    &-brand {
        color: #535353;
    }

    &-inverse {
        .topbar-brand {
            color: #fff;
        }
    }
}

.body-scrolled {
    .topbar-sticky {
        &.topbar-inverse {
            .topbar-brand {
                color: #535353;
            }
        }
    }
}